<div class="matches">
  <h2 class="match-title">Wrestlers in Tournament
    "<%= params[:q].capitalize %>"</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Tournament</th>
        <th>Wins</th>
        <th>Losses</th>
      </tr>
    </thead>
    <tbody>
      <% @tourny.uniq.each do |wrestler| %>
        <tr>
          <td><%= link_to wrestler.first_name.capitalize, wrestler %></a></td>
          <td><%= wrestler.last_name.capitalize %></td>
          <td><%= params[:q].capitalize%></td>
          <td><%= wrestler.matches.where(:tournament => params[:q],
            :result => 'win').collect(&:result).count %></td>
          <td><%= wrestler.matches.where(:tournament => params[:q],
            :result => 'lose').collect(&:result).count %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>