<%= form_for(@wrestler) do |f| %>
  <%= render 'shared/error_messages' %>
  <fieldset>
    <div class="control-group">
      <%= f.label :first_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :last_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :height, class: "control-label" %>
      <div class="controls">
        <%= f.select :height, [["4 ft 0 in", 48], ["4 ft 1 in", 49], ["4 ft 2 in", 50], ["4 ft 3 in", 51], ["4 ft 4 in", 52], ["4 ft 5 in", 53], ["4 ft 6 in", 54], ["4 ft 7 in", 55], ["4 ft 8 in", 56], ["4 ft 9 in", 57], ["4 ft 10 in", 58], ["4 ft 11 in", 59], ["5 ft 0 in", 60], ["5 ft 1 in", 61], ["5 ft 2 in", 62], ["5 ft 3 in", 63], ["5 ft 4 in", 64], ["5 ft 5 in", 65], ["5 ft 6 in", 66], ["5 ft 7 in", 67], ["5 ft 8 in", 68], ["5 ft 9 in", 69], ["5 ft 10 in", 71], ["5 ft 11 in", 71], ["6 ft 0 in", 72], ["6 ft 1 in", 73], ["6 ft 2 in", 74], ["6 ft 3 in", 75], ["6 ft 4 in", 76], ["6 ft 5 in", 77], ["6 ft 6 in", 78], ["6 ft 7 in", 79], ["6 ft 8 in", 80], ["6 ft 9 in", 81], ["6 ft 10 in", 82], ["6 ft 11 in", 83]], class: 'input-small' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :weight, "Weight (lbs)", class: "control-label" %>
      <div class="controls">
        <%= f.text_field :weight, class: "input-small" %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :class, "Class (Graduating Year)", class: "control-label" %>
      <div class="controls">
        <%= f.select :year, [[2013, 2013], [2014, 2014], [2015, 2015], [2016, 2016], [2017, 2017], [2018,2018], [2019, 2019], [2020, 2020]], class: "input-small" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit class: "btn btn-large btn-primary"%>
    </div>
  </fieldset>
<% end %>