<div class="search">
  <h4 class="search-title">Search</h4>
  <%= form_tag wrestlers_path, :class => "form-search", :method => 'get' do %>
    <%= select_tag "people", "<option>Tournament</option><option>Wrestler Last Name</option>".html_safe, :class => "input-medium" %>
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Tournament / Wrestler" %>
    <%= submit_tag 'Search', :name => nil, :class => "btn" %>
  <% end %>


</div>

<% if @tourny %>
 <%= render 'search' %>
<% else %>

<h1 class="roster-title">Team Roster</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th>Record</th>
      <th><%= sortable "weight", "Weight (lbs)" %></th>
      <th><%= sortable "year", "Class" %></th>
    </tr>
  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler| %>
      <tr>
        <td><%= link_to wrestler.first_name.capitalize, wrestler %></a></td>
        <td><%= wrestler.last_name.capitalize %></td>
        <td><%= wrestler.matches.where(:result => 'win').count%> -
            <%= wrestler.matches.where(:result => 'lose').count %></td>
        <td><%= wrestler.weight %></td>
        <td><%= wrestler.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_wrestler_path, :class => 'btn btn-primary' do %>
  <i class="icon-user icon-white"></i> Add Wrestler
<% end %>

<% end %>