<h1 class="roster-title">Team Roster</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "height" %></th>
      <th><%= sortable "weight" %></th>
      <th><%= sortable "year", "Class" %></th>
      <!-- <th><%#= sortable "result", "Wins" %></th> -->
      <!-- <th><%#= sortable "result", "Loses" %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler| %>
      <tr>
        <td><%= link_to wrestler.first_name.capitalize, wrestler %></a></td>
        <td><%= wrestler.last_name.capitalize %></td>
        <td><%= wrestler.height %>"</td>
        <td><%= wrestler.weight %></td>
        <td><%= wrestler.year %></td>
        <!-- <td><%#= @wins.where(:id => wrestler.id).count %></td> -->
        <!-- <td><%#= @loses.where(:id => wrestler.id).count %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Wrestler", new_wrestler_path, :class => 'btn btn-primary' %>