<div class="search">
  <h4 class="search-title">Search by tournament</h4>
  <%= form_tag wrestlers_path, :class => "form-search", :method => 'get' do %>
    <%= text_field_tag :search, params[:search], :class => "input-medium search-query", :placeholder => "Tournament name" %>
    <%= submit_tag 'Search', :name => nil, :class => "btn" %>
  <% end %>
</div>

<% if @wins %>
 <%= render 'search' %>
<% else %>

<h1 class="roster-title">Team Roster</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sortable "first_name" %></th>
      <th><%= sortable "last_name" %></th>
      <th><%= sortable "height", "Height (Feet/Inches)" %></th>
      <th><%= sortable "weight", "Weight (lbs)" %></th>
      <th><%= sortable "year", "Class" %></th>
      <!-- <th><%#= sortable "result", "Wins" %></th> -->
      <!-- <th><%#= sortable "result", "Loses" %></th> -->
    </tr>
  </thead>
  <tbody>
    <% @wrestlers.each do |wrestler| %>
      <tr>
        <td><%= link_to wrestler.first_name.capitalize, wrestler %></a></td>
        <td><%= wrestler.last_name.capitalize %></td>
        <td><%= wrestler.height ? height_conversion(wrestler.height) : wrestler.height%></td>
        <td><%= wrestler.weight %></td>
        <td><%= wrestler.year %></td>
        <!-- <td><%#= @wins.where(:id => wrestler.id).count %></td> -->
        <!-- <td><%#= @loses.where(:id => wrestler.id).count %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to new_wrestler_path, :class => 'btn btn-primary' do %>
  <i class="icon-user icon-white"></i> Add Wrestler
<% end %>

<% end %>