<h2><%= @wrestler.first_name.capitalize %> <%= @wrestler.last_name.capitalize %></h2>
<p>Height: <%= @wrestler.height %></p>
<p>Weight: <%= @wrestler.weight %></p>
<p>Class: <%= @wrestler.year %></p>

<%= render @wrestler.matches %>

<%= link_to "Create New Match", new_wrestler_match_path(@wrestler), :class => 'btn btn-primary' %>

<%= link_to "Delete Wrestler", @wrestler, :method => :delete, :class => 'btn btn-danger', :data => { :confirm => 'Are you sure?' } %>
