<div class="page-header">
  <h1 class="wrestler-name"><%= @wrestler.first_name.capitalize %> <%= @wrestler.last_name.capitalize %></h1>
  <p>Height: <%= @wrestler.height %></p>
  <p>Weight: <%= @wrestler.weight %></p>
  <p>Class: <%= @wrestler.year %></p>

  <%= link_to "Edit Wrestler", edit_wrestler_path(@wrestler), :class => 'btn btn-mini btn-info' %>

  <%= link_to "Delete Wrestler", @wrestler, :method => :delete, :class => 'btn btn-mini btn-danger', :data => { :confirm => "Are you sure you? All matches for this wrestler will also be deleted." } %>
</div>

<div class="matches">
  <h2 class="match-title">Matches</h2>
  <% if @wrestler.matches.any? %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= sorts "match_date" %></th>
        <th><%= sorts "opp_last_name", "Opponent" %></th>
        <th><%= sorts "school" %></th>
        <th><%= sorts "tournament" %></th>
        <th><%= sorts "result" %></th>
        <th>Actions</th>
      </tr>
    </thead>
  <%= render @wrestler.matches.order(match_sort_column + ' ' + sort_direction) %>
  </table>
  <% else %>
    <h3>No matches added</h3>
  <% end %>

  <%= link_to "Create New Match", new_wrestler_match_path(@wrestler), :class => 'btn btn-primary' %>
</div>

<%= link_to "Back", wrestlers_path, :class => 'btn' %>
