<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Opponent</th>
      <th>School</th>
      <th>Tournament</th>
      <th>Result (W/L)</th>
    </tr>
  </thead>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.match_date %></a></td>
        <td><%= match.opp_last_name.capitalize %>, <%= match.opp_first_name.capitalize %></td>
        <td><%= match.school.capitalize %></td>
        <td><%= match.tournament.capitalize %></td>
        <td><%= match.result.capitalize %></td>
      </tr>
    <% end %>
  </tbody>
</table>