<tbody>
  <tr>
    <td><%= match.match_date %></a></td>
    <td><%= match.opp_last_name ? match.opp_last_name.capitalize : match.opp_last_name%>, <%= match.opp_first_name ? match.opp_first_name.capitalize : match.opp_first_name%></td>
    <td><%= match.school ? match.school.capitalize : match.school %></td>
    <td><%= match.tournament ? match.tournament.capitalize : match.tournament %></td>
    <td><%= match.result ? match.result.capitalize : match.result %></td>
    <td><%= link_to "Edit Match", edit_wrestler_match_path(@wrestler, match), :class => 'btn' %></td>
    <td><%= link_to "Delete Match", [@wrestler, match], :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-danger'%></td>
  </tr>
</tbody>
